* {
    margin: 0;
    padding: 0;
}
:root {
    --cor-01: #06c;
    --cor-02: #000;
    --cor-03: #ccc;
    --cor-04: #fff;
}
.conteiner {
    max-width: 1000px;
    margin: 0 auto;
}
#cabecalho {
    background-color: var(--cor-02);
    margin-bottom: 30px;
}
#cabecalho #logo {
    width: 30px;
}
#menu ul {
    display: flex;
    list-style: none;
}

#cabecalho .conteiner{
    display: flex;
    list-style: center;
}
#menu .submenu {
    background-color: var(--cor-02);
    display: none;
    position: absolute;
    z-index: 1;
}
#menu ul li a {
    color: var(--cor-04);
    text-decoration: none;
    display: block;
    padding: 20px 30px;
    transition: all .3s linear;
}
#menu ul li a:hover {
    background-color: var(--cor-01);
}
#menu ul li:hover .submenu{
    display: block;
}